.DS_Store
.bash_history
.conda/
*.coverage* # Note, standard template has .coverage and .coverage.*.
.ipython/
.jupyter/
.local/
Dockerfile
Makefile
cl
develop.sh
junk
lattice.dbf
pysal_data/

# Notebooks
.ipynb_checkpoints/
Untitled1.ipynb
getis.ipynb
jc_scipy_1.4.ipynb
jc_scipy_1.5-Copy1.ipynb
jc_scipy_1.5.ipynb
notebooks/Untitled.ipynb
notebooks/Untitled1.ipynb
notebooks/geary.ipynb
notebooks/joincounts-Copy1.ipynb
notebooks/joincounts_profile.ipynb
notebooks/lisa_opt.ipynb
notebooks/splot.ipynb
notebooks/test.ipynb
spdep-geary.ipynb

#######################################################################
# Standard Python.gitignore template
# https://github.com/github/gitignore/blob/main/Python.gitignore
# Commit 7bfab2e
# ESDA team additions noted below
#######################################################################

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#   Usually these files are written by a python script from a template
#   before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/
# Next two lines added by esda team
docs/generated/
docs/notebooks/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
# Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
# uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
# poetry.lock
# poetry.toml

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   pdm recommends including project-wide configuration in pdm.toml, but excluding .pdm-python.
#   https://pdm-project.org/en/latest/usage/project/#working-with-version-control
# pdm.lock
# pdm.toml
.pdm-python
.pdm-build/

# pixi
#   Similar to Pipfile.lock, it is generally recommended to include pixi.lock in version control.
# pixi.lock
#   Pixi creates a virtual environment in the .pixi directory, just like venv module creates one
#   in the .venv directory. It is recommended not to include this directory in version control.
.pixi
pixi.toml
pixi.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Redis
*.rdb
*.aof
*.pid

# RabbitMQ
mnesia/
rabbitmq/
rabbitmq-data/

# ActiveMQ
activemq-data/

# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#   JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#   be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#   and can be added to the global gitignore or merged into this file.  For a more nuclear
#   option (not recommended) you can uncomment the following to ignore the entire idea folder.
# .idea/

# Abstra
#   Abstra is an AI-powered process automation framework.
#   Ignore directories containing user credentials, local state, and settings.
#   Learn more at https://abstra.io/docs
.abstra/

# Visual Studio Code
#   Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#   that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#   and can be added to the global gitignore or merged into this file. However, if you prefer, 
#   you could uncomment the following to ignore the entire vscode folder
.vscode/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

# Streamlit
.streamlit/secrets.toml

#######################################################################
# JUNKYARD
# Suspected no longer needed (@leehach 2026-01-23)
#######################################################################

doc/
docs/_modules/esda/adbscan.html
docs/_sources/generated/esda.adbscan.ADBSCAN.rst.txt
docs/_sources/notebooks/adbscan_berlin_example.ipynb.txt
docsrc/_build/doctrees/generated/esda.adbscan.ADBSCAN.doctree
docsrc/_build/doctrees/nbsphinx/
docsrc/_build/doctrees/notebooks/
docsrc/_build/doctrees/tutorial.doctree
docsrc/_build/html/_images/
docsrc/_build/html/_modules/esda/adbscan.html
docsrc/_build/html/_sources/generated/esda.adbscan.ADBSCAN.rst.txt
docsrc/_build/html/_sources/notebooks/
docsrc/_build/html/_sources/tutorial.rst.txt
docsrc/_build/html/_static/auto/
docsrc/_build/html/generated/esda.adbscan.ADBSCAN.html
docsrc/_build/html/notebooks/
docsrc/_build/html/tutorial.html
docsrc/_static/auto/
docsrc/generated/esda.adbscan.ADBSCAN.rst

tools/changelog.md
tools/changelog_2.0.0.md
tools/changelog_2.0.1.md
tools/changelog_2.1.0.md
tools/changelog_2.1.1.md
tools/changelog_2.2.0.md
tools/changelog_2.2.1.md
tools/changelog_2.3.0.md
tools/changelog_2.4.0.md

# pixi environments
.pixi/*
!.pixi/config.toml
