*.pyc
.ipynb_checkpoints/
.DS_Store
.vscode/

# Packages
*.egg
*.egg-info
dist
.bash_history
.cache/
.conda/
*.coverage*
.coverage.snuc.30509.410533
.eggs/
.ipython/
.jupyter/
.local/
Dockerfile
Makefile
Untitled1.ipynb
cl
develop.sh
doc/
docs/_modules/esda/adbscan.html
docs/_sources/generated/esda.adbscan.ADBSCAN.rst.txt
docs/_sources/notebooks/adbscan_berlin_example.ipynb.txt
docsrc/_build/doctrees/generated/esda.adbscan.ADBSCAN.doctree
docsrc/_build/doctrees/nbsphinx/
docsrc/_build/doctrees/notebooks/
docsrc/_build/doctrees/tutorial.doctree
docsrc/_build/html/_images/
docsrc/_build/html/_modules/esda/adbscan.html
docsrc/_build/html/_sources/generated/esda.adbscan.ADBSCAN.rst.txt
docsrc/_build/html/_sources/notebooks/
docsrc/_build/html/_sources/tutorial.rst.txt
docsrc/_build/html/_static/auto/
docsrc/_build/html/generated/esda.adbscan.ADBSCAN.html
docsrc/_build/html/notebooks/
docsrc/_build/html/tutorial.html
docsrc/_static/auto/
docsrc/generated/esda.adbscan.ADBSCAN.rst
getis.ipynb
htmlcov/
jc_scipy_1.4.ipynb
jc_scipy_1.5-Copy1.ipynb
jc_scipy_1.5.ipynb
junk
lattice.dbf
notebooks/Untitled.ipynb
notebooks/Untitled1.ipynb
notebooks/geary.ipynb
notebooks/joincounts-Copy1.ipynb
notebooks/joincounts_profile.ipynb
notebooks/lisa_opt.ipynb
notebooks/splot.ipynb
notebooks/test.ipynb
pysal_data/
spdep-geary.ipynb
tools/changelog.md
tools/changelog_2.0.0.md
tools/changelog_2.0.1.md
tools/changelog_2.1.0.md
tools/changelog_2.1.1.md
tools/changelog_2.2.0.md
tools/changelog_2.2.1.md
tools/changelog_2.3.0.md
tools/changelog_2.4.0.md
=======

